.titulo {
  --ion-background-color: rgba(173, 173, 173, 0.38);
  border-radius: 10px 10px 0px 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.elemento {
  font-weight: 400;
  size: 16px;
  line-height: 22px;
  color: #444;
  --ion-background-color: #ffffff;
}
.datos-medicos {
  border-radius: 10px;
}
.ion-padding-horizontal {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  z-index: 3;
}
.message-not-found {
  font-size: 12px;
  --ion-background-color: #d0dde1;
  color: #444;
  opacity: 80%;
}
.container-message {
  text-align: center;
  padding-top: 20px;
}
