.icon-back {
  --icon-font-size: 30px;
}
.titulo {
  text-align: center;
  font-weight: 700;
  box-shadow: none;
  color: #000000;
  font-style: normal;
}
.acciones {
  text-align: center;
}
.subtitulo {
  text-align: center;
  font-size: 18px;
  width: 100%;
}
.mensaje {
  text-align: center;
  font-size: 16px;
  width: 100%;
}
