.back {
  --background: #fafafa;
}
.icon_back {
  --icon-font-size: 30px;
}

.title {
  justify-content: flex-start;
}
.divider {
  text-align: center;
  width: 100%;
}
.container_divider {
  justify-content: center;
}
