.avatar {
  width: 99px;
  height: 97px;
  left: 150px;
  top: 184px;
  background: #ffffff;
  border-radius: 99px;
  margin: 0 auto;
  border: 0;
}
.imagenes {
  position: relative;
  height: 46.87%;
  width: 100%;
}
.portada {
  width: 100%;
}
.contenedor {
  position: absolute;
  top: 66%;
  left: 36.25%;
}
.fotos-jugador {
  align-items: center;
}
