.segments {
  font-style: normal;
  font-weight: normal;
  size: auto;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}
.nombre {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;
  color: #315c79;
}
.locacion {
  size: 12px;
  font-style: normal;
  line-height: 14px;
  font-weight: 400;
}
.nombre-pais {
  position: relative;
  height: auto;
}
.menu-horizontal {
  size: auto;
  overflow: auto;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  --background: #d0dde1;
}
