.icon-back {
  --icon-font-size: 30px;
}
.titulo {
  text-align: center;
  font-weight: 700;
  box-shadow: none;
  color: #000000;
  font-style: normal;
}
.acciones {
  text-align: center;
}
.dato-personal {
  padding-top: 10px;
  padding-bottom: 10px;
  --ion-background-color: #ffffff;
}
.fondo {
  --ion-background-color: #ffffff;
}
