.icon_back {
  --icon-font-size: 30px;
}
.title {
  text-align: center;
  font-weight: 700;
  box-shadow: none;
  color: #000000;
  font-style: normal;
}
.acts {
  text-align: center;
}
.personal_data {
  padding-top: 10px;
  padding-bottom: 10px;
  --ion-background-color: #ffffff;
}
.back {
  --ion-background-color: #ffffff;
}
.save_personal_info {
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  margin: 10px;
  color: #5ab3ef;
  background-color: #f4f5f8;
}
.subtitle {
  text-align: center;
  width: 100%;
}
