.back {
  --background: #fafafa;
}
.message_box_receiver {
  float: left !important;
  width: 65%;
  background-color: #fedcd2;
  color: white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 10px;
  line-height: 18px;
}
.message_box_sender {
  float: right !important;
  width: 65%;
  background-color: #daf0eb;
  color: white !important;
  font-size: 14px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 10px;
}
.message_text {
  white-space: normal !important;
  color: #0e0b16;
}
.message_text_container {
  padding: 8px;
}
.avatar {
  width: 20px;
  height: 20px;
}
.userName_message {
  color: #373737;
}
.message_container {
  width: 100%;
  flex-direction: column;
  position: relative;
}
.messages {
  padding-bottom: 14% !important;
}
