.back {
  --background: #fafafa;
}
.message_box_receiver {
  float: left !important;
  width: 50%;
  background-color: #c8fab2;
  color: black;
}
.message_box_sender {
  float: right !important;
  width: 50%;
  background-color: lightyellow;
  color: black;
  font-size: 14px;
}
.message_text {
  white-space: normal !important;
  color: #900c3f;
}
.message_text_container {
  padding: 3px;
}
.avatar {
  width: 20px;
  height: 20px;
}
.userName_message {
  color: #c70039;
}
.message_container {
  width: 100%;
  height: 90% !important;
}
