.input_container {
  position: fixed;
  display: block;
  width: 100%;
  bottom: 0;
  z-index: 1;
  background: rgba(208, 221, 225, 0.55);
  padding: 3px;
  margin-bottom: 2px;
}

.send_button {
  background-color: #315c79;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  font-size: 16px;
  border-radius: 50%;
  width: 47px;
  height: 47px;
}

.text_container {
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-end: 5px;
  --padding-start: 5px;
  margin-top: 0px;
  font-weight: lighter !important;
}

.button_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px !important;
}

.native-textarea.sc-ion-textarea-md {
  padding: 0px;
}
