.input_container {
  position: fixed;
  display: block;
  width: 100%;
  bottom: 0;
  z-index: 1;
  background-color: #fafafa;
  background: transparent;
  padding: 3px;
  margin-bottom: 2px;
}
.message_input {
  width: 100%;
  border-color: darkgrey;
  background-color: #ffffff;
  margin: 0px !important;
  border-radius: 15px;
  padding-right: 5px;
  line-height: 85%;
  padding-bottom: 5px;
}
.send_button {
  background-color: #315c79;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  font-size: 16px;
  border-radius: 50%;
  width: 47px;
  height: 47px;
}
.text_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
}
.button_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px !important;
}
