.cajas {
  --ion-background-color: #ffffff;
  padding-bottom: 5px;
  border-radius: 25px;
  font-size: 18px;
}

.texto {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #adadad;
}
.info {
  font-style: normal !important;
  font-weight: bold !important;
  line-height: 24px !important;
}
