.atributos {
  --ion-background-color: #ffffff;
}
.icon-back {
  --icon-font-size: 30px;
}
.titulo {
  text-align: center;
  font-weight: 700;
  box-shadow: none;
  color: #000000;
  font-style: normal;
}
.acciones {
  text-align: center;
}
.datos-tacticos {
  --ion-background-color: #ffffff;
}
.campo-tactico {
  padding-top: 10px;
  padding-bottom: 10px;
}
.subtitulo {
  text-align: center;
  width: 100%;
}
