.back {
  --background: #fafafa;
}
.icon_back {
  --icon-font-size: 30px;
}
.title {
  justify-content: flex-start;
}
.back_container {
  --background: #fafafa;
}
.end_date {
  font-size: 14px;
  color: dimgray;
  padding: 5px;
  font-style: italic;
}
.calls_details {
  --background: #fafafa;
}
.calls_data {
  font-style: normal !important;
  font-weight: bold !important;
  line-height: 16px !important;
  color: #315c79 !important;
}
.title_divider {
  text-align: center;
  width: 100%;
  top: 10px;
  font-size: 16px;
  vertical-align: middle;
}

.title_calls_details {
  background-color: #fafafa;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  border-bottom-color: black !important;
  color: #315c79 !important;
}
