.avatar {
  width: 27.5%;
  height: 100%;
  border-radius: 99px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar_image {
  width: 90%;
  height: 100%;
}
.imagenes {
  padding: 0px;
  align-items: flex-start;
  position: relative;
  height: 48%;
  padding-bottom: 30px;
}
.portada {
  padding: 0px;
  align-items: flex-start;
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.portada ion-img {
  display: flex;
  width: 100%;
}
.contenedor {
  position: absolute;
  top: 66%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
}
.fotos-jugador {
  align-items: center;
}

.profile-photos {
  padding-bottom: 30px;
}
.message {
  text-align: center;
}
.cover {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}
