.back-button {
  position: absolute;
}

ion-buttons ion-back-button {
  --icon-font-size: 30px;
}

.meet-goal-icon {
  justify-content: center;
}

.sign-up-text {
  padding: 25px;
}

.sign-up-text ion-label {
  font-size: 34px;
  font-weight: bold;
}

.sign-up-button {
  justify-content: center;
  padding-top: 30px;
}

ion-note {
  padding: 16px;
}
