.subtitle {
  text-align: center;
  width: 100%;
}
.icon_back {
  --icon-font-size: 30px;
}
.title {
  text-align: center;
  font-weight: 700;
  box-shadow: none;
  color: #000000;
  font-style: normal;
  font-size: 18px;
}
.acts {
  text-align: center;
}
.notes {
  background: #677656;
  text-align: center;
  border-radius: 25px;
}
.note {
  color: #ffffff;
}
.data_psyco {
  --ion-background-color: #ffffff;
}
.psyco_field {
  padding-bottom: 10px;
  padding-top: 10px;
}
.save_psyco_info {
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  margin: 10px;
  color: #5ab3ef;
  background-color: #f4f5f8;
}
