.subtitulo {
  text-align: center;
  width: 100%;
}
.icon-back {
  --icon-font-size: 30px;
}
.titulo {
  text-align: center;
  font-weight: 700;
  box-shadow: none;
  color: #000000;
  font-style: normal;
}
.acciones {
  text-align: center;
}
.notas {
  background: #677656;
  text-align: center;
  border-radius: 25px;
}
.nota {
  color: #ffffff;
}
